@import "src/styles/variables";

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__logo {
    margin: auto 50px;
  }

  &__nav {
    margin-right: 50px;
  }
}

.logo {
  width: 40px;
  height: 40px;
}
